{{!< default}}

<div class="content-area">
    <div>{{{block "archives"}}}</div>
    <main class="site-main">
        {{#get "posts" limit="all"}}
            <div class="post-feed container medium">
                <div class="archive-page-counter">
                    好! 目前共计&nbsp;{{pagination.total}}&nbsp;篇日志。 继续努力。
                </div>
                <div id="archivePage">
                    {{#foreach posts visibility="all"}}
                        <li class="archiveList--item feed {{post_class}}" data-date="{{date published_at format="MMMM-YYYY"}}">
                            <div class="feed-calendar">
                                <div class="feed-calendar-month">
                                    {{date published_at format="MM"}}
                                </div>-
                                <div class="feed-calendar-day">
                                    {{date published_at format="DD"}}
                                </div>
                            </div>
                            <h2 class="feed-title">{{title}}</h2>
                            <div class="feed-right">
                                {{#if featured}}
                                    <svg class="icon feed-visibility">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                {{/if}}
                                <div class="feed-length">
                                    {{reading_time}}
                                </div>
                                
                            </div>
                            <svg class="icon feed-icon">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                            <a class="feed-permalink" href="{{url}}" aria-label="{{title}}"></a>
                        </li>
                    {{/foreach}}
                </div>
            </div>

            {{!-- {{pagination}}

            <div class="infinite-scroll-action">
                <button class="button button-secondary infinite-scroll-button">Load more</button>
            </div> --}}
        {{/get}}
    </main>
</div>

{{#contentFor "scripts"}}
<script>
    $(document).ready(function(){
        if($('#archivePage').length){
            var $item = $('.archiveList--item'),
                dates = {};
            
            $item.each(function(){
                dates[$(this).data('date')] = '';
            });
                    
            for (date in dates) {
                $item.filter('[data-date='+ date +']').wrapAll('<ul class="archiveList"></ul>');
            };
            
            $('.archiveList').each(function() { 
                var month = $(this).children().first().data('date').replace("-"," ");
                $(this).attr('data-date', month);
            });
        };
    })
</script>
{{/contentFor}}

{{!-- {{#contentFor "scripts"}}
<script>
    function archivesPagination() {
        'use strict';
        var wrapper = $('.post-feed');

        wrapper.infiniteScroll({
            append: '.feed',
            button: '.infinite-scroll-button',
            debug: false,
            hideNav: '.pagination',
            history: false,
            path: '.pagination .older-posts',
            scrollThreshold: false,
            status: '.infinite-scroll-status'
        });

        wrapper.on('append.infiniteScroll', function (
            event,
            response,
            path,
            items
        ) {
            $(items[0]).addClass('feed-paged');
        });
    }
    
    $(function () {
        archivesPagination();
    });
</script>
{{/contentFor}} --}}
